extends layout

block main
  
  h2 Location History
  h3 user: #{username}
  
  table
    thead
      tr
        th Time
        th Latitude
        th Longitude
        th Google Maps
        
    tbody
      each val in data
        tr
          td= val.logtime
          td= val.latitude
          td= val.longitude
          td 
            a(href=`https://www.google.com/maps/search/?api=1&query=${val.latitude},${val.longitude}`) Show on Maps
